[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=firefox
Icon=/usr/lib/firefox/icons/mozicon50.xpm
Name[en_US]=Firefox
GenericName[en_US]=Firefox
Comment[en_US]=Web Browser
Name=Firefox
GenericName=Firefox
Comment=Web Browser
Categories=Application;Network;GNOME;GTK;
MimeType=text/html;text/xml;application/xhtml+xml;
