[Desktop Entry]
Encoding=UTF-8
Name=Wifi Radar
Comment=Scan for available WiFi networks
Exec=wifi-radar
Icon=wifi-radar.png
Terminal=false
Type=Application
Categories=Application;Network;