[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Firefox
GenericName=Webbrowser
Comment=Browse the web
Version=1.0
Type=Application
Exec=/opt/firefox/firefox %U
Icon=/opt/firefox/icons/mozicon16.xpm
TryExec=
Terminal=false
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;