[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/bin/opera -remote
Name=Opera
GenericName=Web Browser
GenericName[pl]=Przegl±darka WWW
Icon=/usr/share/opera/images/opera_32x32.png
Terminal=0
Categories=Applications;Network;
