[Desktop Entry]
Encoding=UTF-8
Name=dvd::rip
Comment=DVD ripping tool
Exec=dvdrip
Terminal=false
Type=Application
Categories=Application;AudioVideo
Icon=
