# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Greeter=Bluecurve.xml
Name=Bluecurve
Description=Red Hat Linux default theme
Description[bn]=রেড্‌ হ্যাট্‌ লিনিক্স্‌ এর default theme
Description[cs]=Implicitní téma pro Red Hat Linux
Description[da]=Red Hat Linux standardtema
Description[de]=Red Hat Linux Standard
Description[el]=Προκαθορισμένο θέμα του Red Hat Linux
Description[es]=Tema predeterminado de Red Hat Linux
Description[fi]=Red Hat Linux -oletusteema
Description[fr]=Thème par défaut de Red Hat Linux
Description[hu]=Red Hat Linux alapértelmezett téma
Description[is]=Sjálfgefja Red Hat Linux þeman
Description[it]=Tema Red Hat Linux predefinito
Description[ja]=Red Hat Linux デフォルトのテーマ
Description[ko]=Red Hat Linux 기본 테마
Description[nl]=Red Hat Linux standaard thema
Description[no]=Forvalgt tema for Red Hat Linux
Description[pt]=Tema por omissão do Red Hat Linux
Description[pt_BR]=Tema default Red Hat Linux
Description[ro]=Tema implicită Red Hat Linux
Description[ru]=Основная тема Red Hat Linux
Description[sk]=Štandardná téma Red Hat Linux
Description[sl]=Privzeta tema za Red Hat Linux
Description[sv]=Standardtema för Red Hat Linux
Description[tr]=Öntanımlı Red Hat Linux teması
Description[vi]=Theme Red Hat Linux mặc định
Description[zh_CN]=Red Hat Linux 的默认主题
Description[zh_TW]=Red Hat Linux 預設佈景主題
Author=Garrett LeSage, Roman Beigelbeck (?)
Author[bn]=Garrett LeSage, Roman Beigelbeck (?)
Author[cs]=Garrett LeSage, Roman Beigelbeck (?)
Author[da]=Garrett LeSage, Roman Beigelbeck (?)
Author[de]=Garrett LeSage, Roman Beigelbeck (?)
Author[el]=Garrett LeSage, Roman Beigelbeck (?)
Author[es]=Garrett LeSage, Roman Beigelbeck (?)
Author[fi]=Garrett LeSage, Roman Beigelbeck (?)
Author[fr]=Garrett LeSage, Roman Beigelbeck (?)
Author[hu]=Garrett LeSage, Roman Beigelbeck (?)
Author[is]=Garrett LeSage, Roman Beigelbeck (?)
Author[it]=Garrett LeSage, Roman Beigelbeck (?)
Author[ja]=Garrett LeSage, Roman Beigelbeck (?)
Author[ko]=Garrett LeSage, Roman Beigelbeck (?)
Author[nl]=Garrett LeSage, Roman Beigelbeck (?)
Author[no]=Garret LeSage, Roman Beigelbeck
Author[pt]=Garrett LeSage, Roman Beigelbeck (?)
Author[pt_BR]=Garrett LeSage, Roman Beigelbeck (?)
Author[ro]=Garrett LeSage, Roman Beigelbeck (?)
Author[ru]=Garrett LeSage, Roman Beigelbeck (?)
Author[sk]=Garrett LeSage, Roman Beigelbeck (?)
Author[sl]=Garrett LeSage, Roman Beigelbeck (?)
Author[sv]=Garrett LeSage, Roman Beigelbeck (?)
Author[tr]=Garrett LeSage, Roman Beigelbeck (?)
Author[vi]=Garrett LeSage, Roman Beigelbeck (?)
Author[zh_CN]=Garrett LeSage, Roman Beigelbeck (?)
Author[zh_TW]=Garrett LeSage, Roman Beigelbeck (?)
Copyright=Copyright 2002, 2003 Red Hat, Inc.
Screenshot=screenshot.png
