[Desktop Entry]
Encoding=UTF-8
Exec=/usr/lib/azureus/azureus
Icon=/usr/share/pixmaps/Azureus.png
MimeType=applications/x-bittorrent
Name=Azureus
Comment=Java BitTorrent Client
Comment[pl]=Klient BitTorrenta
Type=Application
Categories=Network
StartupNotify=true
Terminal=false
TerminalOptions=
X-DCOP-ServiceType=
X-KDE-NativeMimeType=
X-KDE-SubstituteUID=false
X-KDE-Username=

