[Desktop Entry]
Actions=Go_Azureus;
Encoding=UTF-8
ServiceTypes=application/x-bittorrent

[Desktop Action Go_Azureus]
Exec=/usr/lib/azureus/azureus %F
Name=Download bittorent with Azureus...
Name[pl]=Pobierz za pomoc± Azureus
Icon=/usr/share/pixmaps/Azureus.png
