[Desktop Entry]
Encoding=UTF-8
Name=Gnuitar
Type=Application
Exec=gnuitar
Icon=gnuitar.ico
Terminal=false
StartupNotify=true
Categories=GNOME;Application;Multimedia;AudioVideo;Video;TV;
