[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=NetBeans
Comment=NetBeans IDE
Categories=Application;Development;
Exec=/usr/bin/netbeans
Icon=/usr/share/netbeans/nb6.0/netbeans.png
Terminal=false
StartupNotify=false
