[Desktop Entry]
Encoding=UTF-8
Exec=transmission-gtk
Icon=Transmission-Icon-48.png
Type=Application
Categories=Application;Network;
Name=Transmission
X-KDE-StartupNotify=true
