[Desktop Entry]
Encoding=UTF-8
Name=gDVDshrink
Comment=Shrink DVDs
Exec=gDVDshrink
Terminal=false
Type=Application
Categories=Application;AudioVideo
Icon=media-cdrom
