[Desktop Entry]
Encoding=UTF-8
Name=AcidRip
Comment=DVD ripping tool
TryExec=
Exec=acidrip
Icon=/usr/lib/perl5/site_perl/5.8.5/AcidRip/logo.png
Terminal=false
Type=Application
Categories=Application;AudioVideo
