[Desktop Entry]
Name=MPlayer
Comment=The Movie Player for Linux
Comment[pl]=Odtwarzacz Filmów pod Linuxa
Exec=gmplayer
Terminal=0
Type=Application
Icon=MPlayer_mini.xpm
Encoding=UTF-8
X-Desktop-File-Install-Version=0.3
Categories=Application;AudioVideo;
