[Desktop Entry]
Encoding=UTF-8
Name=Bittorrent
Exec=bittorrent
Terminal=false
Type=Application
Categories=Application;Network
Icon=/usr/share/pixmaps/BitTorrent-4.4.0/bittorrent.ico
