[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LimeWire
GenericName=P2P Gnutella client
Comment=Search and share all kinds of files on the Gnutella network
Exec=limewire
Icon=/usr/share/pixmaps/limewire.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Network;P2P;Java
